@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --dark-green :#0E8388;
}

body{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.container{
    padding: 2rem min(10rem, 10vw) 4rem min(10rem, 10vw);
    background-color: aliceblue;
}

.container .heading{
    padding-bottom: 1rem;
}

.items-table{
    border: 1px solid black;
}

.cart-header{
    background-color: var(--dark-green);
    color: white;
    font-weight: 500;
    padding: 0.5rem 2rem ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid black;

}

.items-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid black;
    padding-block: 0.5rem;
    position: relative;

}

.items-list li .quantity input{
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
    padding: 0.3rem;
    text-align: center;
    width: 50%;
}

.items-list li img{
    height: 10rem;
    align-items: center;
}


.items-list li .img .delete{
    position: absolute;
    top: 45%;
    right: 2rem;
    height: 1rem;
    cursor:pointer;
} 



.cart-footer{
    background-color: var(--dark-green);
    color: white;
    font-weight: 500;
    padding: 0.5rem 2rem ;
    display: grid;
    grid-template-columns: 3fr 1fr;

}
/*`````````````````RESPONSIVENESS````````````````````*/

@media only screen and (max-width : 970px){
.cart-header{
    grid-template-columns: repeat(2,1fr);
}

.header-price{
    display: none;
}

.header-quantity{
    display: none;
}

.container{
    padding-inline: 5vw;
}

.items-list li{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
    'product-img total-amt '
    'quantity total-amt';
    padding-inline: 0.5rem;  
}

.product-img{
    grid-area: product-img;
}
.total-amt{
    grid-area: total-amt;
}
.quantity{
    grid-area: quantity;
}

.items-list li .price{ 
    display: none;
}

.items-list li .img .delete{
    top: 2rem;
}

.cart-footer{
    grid-template-columns: repeat(2,1fr);
}


}